@import "../variables.modules";

footer {
  color: $dark;
}

.dark {
  background: rgb(3,1,29);
  background: linear-gradient(120deg, rgba(3,1,29,1) 0%, rgba(38,44,71,1) 35%, rgba(50,48,48,1) 100%);
  color: $white;
  transition: all 400ms;

  a, i, li {
    color: $white;
    transition: color 400ms;
  }

  a:visited {
    color: $white;
  }

  footer {
    color: $white;
  }
}


